useDynLib(fdaplus)
import(Rcpp)
import(methods)

export(wrap)
S3method(wrap, basisfd)
S3method(wrap, fd)

importFrom(graphics, plot)
importFrom(stats, sd, var)
exportMethods("[", "*", feval, plot, "%*%", penmat, mean, sd, var)

exportClasses("basis+", "bspline+")
exportClasses("fd+")

export(basis_bs)