useDynLib(fdaplus)
import(Rcpp)
import(methods)
import(splines)

export(wrap)
S3method(wrap, basisfd)
S3method(wrap, fd)
S3method(wrap, bifd)
S3method(c, "fd+")

importFrom(graphics, plot)
importFrom(stats, sd, var)
exportMethods("[", "+", "-", "*", "/", feval, plot, plot3d,
              "%*%", penmat, mean, sd, var)

exportClasses("basis+", "bspline+")
exportClasses("fd+")
exportClasses("bifd+")

export(basis_bs, fd_new, bifd_new)
