useDynLib(fdaplus)
import(Rcpp)
import(methods)
# import(splines)

export(wrap)
S3method(wrap, basisfd)
S3method(wrap, fd)
S3method(wrap, bifd)
S3method(c, "fd+")

importFrom(graphics, plot)
importFrom(stats, sd, var, cov)
exportMethods("[", "$", "+", "-", "*", "/", "^", feval, plot, plot3d,
              "%*%", penmat, mean, sd, var, cov, eig)

exportClasses("basis+", "bspline+", "fourier+")
exportClasses("fd+")
exportClasses("bifd+")
exportClasses("eig+")

export(basis_bs, basis_fourier, fd_new, bifd_new, smooth_data)
